# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.env
.venv
env/
venv/
ENV/

# Logs and Databases
*.log
data/*.sqlite
logs/

# Forensic Datasets (Optional - ignored by default)
v1 fake/
v1 real/

# Uploads & Temp
static/uploads/*
!static/uploads/.gitkeep

# Node / React
node_modules/
dist/
artistic-deepfake-detector-interface/node_modules/
artistic-deepfake-detector-interface/dist/

# MacOS / IDE
.DS_Store
.vscode/
.idea/
